In [123]:
import pandas as pd
import numpy as np
import re
import zipfile
import chardet
import io

In [53]:
# Lendo o arquivo parquet
df = pd.read_parquet(r"C:\Users\fmath\Documents\base_anac_tratada.parquet")

df.head()

    ano  mes empresa origem destino  tarifa  assentos
0  2002    1     GLO   SBPA    SBBR   397.0        51
1  2002    1     GLO   SBSV    SBRF   272.0         5
2  2002    1     GLO   SBFL    SBGL   223.0       196
3  2002    1     GLO   SBGL    SBSP    96.0       615
4  2002    1     GLO   SBGL    SBRF   340.0       297

In [51]:
df[['ano', 'mes']].reset_index().groupby(['ano', 'mes']).count().reset_index().pivot(index='ano', columns='mes', values='index')

mes,1,2,3,4,5,6,7,8,9,10,11,12
ano,,,,,,,,,,,,
2017,319640,267057,344798,269977,386152,425856,427531,443428,507113,491775,475749,394731

In [125]:
# Função para remover caracteres não imprimíveis
def limpar_caracteres_ocultos(texto):
    if isinstance(texto, str):
        # Remove BOM específico e outros caracteres não imprimíveis
        texto_limpo = texto.replace(u'\ufeff', '')  # Remove BOM (Byte Order Mark)
        texto_limpo = re.sub(r'[\x00-\x1F\x7F-\x9F]', '', texto_limpo)  # Remove outros caracteres não imprimíveis
        return texto_limpo
    return texto

def detectar_encoding(caminho_arquivo, amostra_tamanho=10000):
    with open(caminho_arquivo, 'rb') as f:
        resultado = chardet.detect(f.read(amostra_tamanho))
    return resultado['encoding']

# nome_arquivo_csv = r"C:\Users\fmath\OneDrive\Área de Trabalho\202005.CSV"

# with open(nome_arquivo_csv) as csvfile:
#         # Lê o conteúdo do CSV e aplica a limpeza de caracteres ocultos
#         conteudo_limpo = []
#         for linha in csvfile:
#             linha_limpa = limpar_caracteres_ocultos(linha)
#             conteudo_limpo.append(linha_limpa)
        
        
#         # Salvar ou processar o conteúdo limpo
#         with open(r'C:\Users\fmath\OneDrive\Área de Trabalho\arquivo_limpo.csv', 'w', encoding='utf-8') as f_out:
#             f_out.writelines(conteudo_limpo)

# pd.read_csv(r"C:\Users\fmath\OneDrive\Área de Trabalho\arquivo_limpo.csv", sep=None, engine='python', encoding='utf-8'
#             , usecols=['Ano de Referência', 'Mês de Referência', 'ICAO Empresa Aérea',
#                                                                 'ICAO Aeródromo Origem', 'ICAO Aeródromo Destino', 'Tarifa-N',
#                                                                 'Assentos Comercializados'])

caminho_csv = r"C:\Users\fmath\OneDrive\Área de Trabalho\202005.CSV"

encoding_detectado = detectar_encoding(caminho_csv)

with open(caminho_csv, 'r', encoding=encoding_detectado) as f:
    conteudo_str = f.read()

df_teste = pd.read_csv(io.StringIO(conteudo_str), sep=None, engine='python', encoding='utf-8')

print([col for col in df_teste.columns])

# df_teste = df_teste.applymap(limpar_caracteres_ocultos)

# df_teste.columns = [limpar_caracteres_ocultos(col) for col in df_teste.columns]

# df_teste.rename(columns={'Ano de Referência': 'ANO',
#                     'Mês de Referência': 'MES',
#                     'ICAO Empresa Aérea': 'EMPRESA',
#                     'ICAO Aeródromo Origem': 'ORIGEM',
#                     'ICAO Aeródromo Destino': 'DESTINO',
#                     'Tarifa-N': 'TARIFA',
#                     'Assentos Comercializados': 'ASSENTOS'}, inplace=True)

# df_teste = df_teste.loc[:, ['ANO', 'MES', 'EMPRESA', 'ORIGEM', 'DESTINO', 'TARIFA', 'ASSENTOS']]

# df_teste.columns

['Ano de Referência', 'Mês de Referência', 'ICAO Empresa Aérea', 'ICAO Aeródromo Origem', 'ICAO Aeródromo Destino', 'Tarifa-N', 'Assentos Comercializados']

In [100]:
pd.read_csv(r'C:\Users\fmath\Documents\dados-viagens-anac\dados-viagens-anac\data\temp\202005.CSV', sep=';', encoding_errors='')

,Ano de Referência,Mês de Referência,ICAO Empresa Aérea,ICAO Aeródromo Origem,ICAO Aeródromo Destino,Tarifa-N,Assentos Comercializados
0,2020,5,AZU,SBAC,SBGR,"287,9",1
1,2020,5,AZU,SBAE,SBAT,"455,9",3
2,2020,5,AZU,SBAE,SBBE,"271,9",2
3,2020,5,AZU,SBAE,SBBE,"298,9",3
4,2020,5,AZU,SBAE,SBBE,"351,9",4
...,...,...,...,...,...,...,...
107789,2020,5,TAM,SBVT,SBUL,"288,99",1
107790,2020,5,TAM,SBVT,SBUL,78,11
107791,2020,5,TAM,SBVT,SBUL,"78,9",46
107792,2020,5,TAM,SBVT,SBUL,"99,01",1
107793,2020,5,TAM,SBVT,SBUL,999,1

In [75]:
pd.read_csv(r"C:\Users\fmath\OneDrive\Área de Trabalho\202005.CSV", sep=None, engine='python', encoding='utf-8').columns['﻿Ano de Referência']

Index(['﻿Ano de Referência', 'Mês de Referência', 'ICAO Empresa Aérea',
       'ICAO Aeródromo Origem', 'ICAO Aeródromo Destino', 'Tarifa-N',
       'Assentos Comercializados'],
      dtype='object')

In [20]:
# Traznedo a dimensão de aeroportos
aeroportos = pd.read_csv(r"C:\Users\fmath\Documents\dados-viagens-anac\dados-viagens-anac\data\outras_bases\cadastro-de-aerodromos-civis-publicos.csv"
            , sep=';', skiprows=1, usecols=['CÓDIGO OACI', 'CIAD', 'NOME', 'MUNICÍPIO ATENDIDO', 'UF'])

aeroportos.rename(columns={'CÓDIGO OACI': 'oaci', 'NOME': 'aeroporto', 'MUNICÍPIO ATENDIDO':'municipio'}, inplace=True)

,CÓDIGO OACI,CIAD,NOME,MUNICÍPIO ATENDIDO,UF
0,SBAA,PA0008,CONCEIÇÃO DO ARAGUAIA,CONCEIÇÃO DO ARAGUAIA,PA
1,SBAE,SP0010,BAURU/AREALVA,BAURU,SP
2,SBAQ,SP0012,BARTOLOMEU DE GUSMÃO,ARARAQUARA,SP
3,SBAR,SE0001,SANTA MARIA,ARACAJU,SE
4,SBAT,MT0003,PILOTO OSVALDO MARQUES DIAS,ALTA FLORESTA,MT
...,...,...,...,...,...
500,SJO9,BA0253,SENHOR DO BONFIM,SENHOR DO BONFIM,BA
501,SBPW,RJ0321,PORTO DO AÇU,SÃO JOÃO DA BARRA,RJ
502,SSBG,RS0091,MUNICIPAL DE BENTO GONÇALVES,BENTO GONÇALVES,RS
503,-,SC0020,ISMAEL NUNES,SÃO JOAQUIM,SC
504,SND6,SC0012,DIONÍSIO CERQUEIRA,DIONÍSIO CERQUEIRA,SC