In [123]:
import pandas as pd
import numpy as np

In [126]:
# Lendo o arquivo parquet
df = pd.read_parquet(r"C:\Users\fmath\Documents\base_anac_tratada.parquet")

df.head()

    ano  mes empresa origem destino  tarifa  assentos
0  2002    1     GLO   SBPA    SBBR   397.0        51
1  2002    1     GLO   SBSV    SBRF   272.0         5
2  2002    1     GLO   SBFL    SBGL   223.0       196
3  2002    1     GLO   SBGL    SBSP    96.0       615
4  2002    1     GLO   SBGL    SBRF   340.0       297

In [130]:
# Traznedo a dimensão de aeroportos
aeroportos = pd.read_csv(r"C:\Users\fmath\Documents\dados-viagens-anac\dados-viagens-anac\data\aeroportos\cadastro-de-aerodromos-civis-publicos.csv"
            , sep=';', skiprows=1, usecols=['CÓDIGO OACI', 'CIAD', 'NOME', 'MUNICÍPIO ATENDIDO', 'UF'])

aeroportos.rename(columns={'CÓDIGO OACI': 'oaci', 'CIAD': 'ciad', 'NOME': 'aeroporto', 'MUNICÍPIO ATENDIDO':'municipio', 'UF': 'uf'}, inplace=True)

aeroportos.head()

   oaci    ciad                    aeroporto              municipio  uf
0  SBAA  PA0008        CONCEIÇÃO DO ARAGUAIA  CONCEIÇÃO DO ARAGUAIA  PA
1  SBAE  SP0010                BAURU/AREALVA                  BAURU  SP
2  SBAQ  SP0012         BARTOLOMEU DE GUSMÃO             ARARAQUARA  SP
3  SBAR  SE0001                  SANTA MARIA                ARACAJU  SE
4  SBAT  MT0003  PILOTO OSVALDO MARQUES DIAS          ALTA FLORESTA  MT

In [131]:
len(df)

63210533